<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not request.user.is_authenticated %}
        <div>
            <a href="{% url 'board:board_index' %}">메인 화면</a>
        </div>
        <div>
            <a href="{% url 'accounts:signup' %}">회원가입</a>
        </div>
        <div>
            <a href="{% url 'accounts:login' %}">로그인</a>
        </div>
    {% else %}
        <div>
            <a href="{% url 'board:board_index' %}">메인 화면</a>
        </div>
        <div>
            <a href="{% url 'accounts:signup' %}">회원가입</a>
        </div>
        <div>
            <a href="{% url 'accounts:my_page' request.user.pk %}">마이 페이지</a>
        </div>
        <div>
            <a href="{% url 'accounts:logout' %}">로그아웃</a>
        </div>
    {% endif %}

    {% block content %}

    {% endblock content %}
</body>
</html>